// activity stream
#activityStream {
  &:focus {
    outline: none !important;
  }
  .filterArea {
    border-top: 1px solid $color-gray-10;
    border-color: $color-gray-10;
    padding: 0 !important;
    select {
      display: inline-block !important;
      margin-left: .25rem;
    }
    .filterAreaInner {
      padding: .75rem !important;
    }
  }
  .lotusPostHover {
    background: $background-side !important;
  }
  .activityStreamNewsItemContainer {
    &:focus {
      outline: 1px solid $border-focus !important;
    }
    div.lotusLikeConnector {
      margin-bottom: 5px !important;
      padding-right: 3px !important;
    }
    ul.lotusInlinelist {
      li {
        vertical-align: unset !important;
        &:before {
          margin-top: 7px !important;
        }
      }
      li.savethisAction,
      li.stopfollowingAction {
        &:before {
          margin-top: 7px !important;
        }
      }
    }
  }
  .lotusCommentList {
    margin-right: 0 !important;
    li.lotusCommentItem {
      background: $background-side !important;
      .lotusPost {
        padding: 1rem !important;
      }
    }
    .lotusPostAuthorInfo {
      padding: 0 .5rem 0 0 !important;
      .lotusPostAvatar {
        padding: 0 !important;
      }
    }
    .lotusCommentItem {
      .lotusActions a {
        font-weight: normal !important;
      }
    }
  }
  .lotusPostContent {
    .lotusPostAction {
      padding-right: 2rem;
    }
  }
  .lotusPostContent,
  .lotusCommentList {
    .vcard a {
      color: $text-01 !important;
    }
  }
  abbr[id*="timeago"],
  a.timeago {
    text-decoration: none !important;
    font-weight: normal !important;

    &:hover {
      text-decoration: underline !important;
    }

    + img {
      display: none;
    }
  }
}

#centerWidgetContainer {
  &:focus, div:focus, ul:not(.lotusTabs) > li:focus {
    outline: 1px solid $border-focus !important;
  }
}

.lotusStreamUpdate .lotusHidden.ublogWarningMessage {
  + .lotusActions {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .lotusRight {
      float: right !important;
    }
    .lotusLeft {
      float: left !important;
      margin-top: .25rem !important;
    }
    + .lotusMessage2 {
      margin: .75rem 0 !important;
      padding: .3rem !important;
    }
  }
}
