// Link colors are in _colors.scss

$link-default-font-weight: 600; // bold
$link-hover-font-weight: 600;

$link-default-decoration: none;
$link-hover-decoration: none;
$link-focus-decoration: underline;
