.communities-widget-appearance .lotusui30 div:not(#profilePaneLeft):not(#profilePaneRight):not(#profileBody):not(#tabsWidget1_widgetId_container) > .lotusWidget2 {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

// CNXSERV-13165: Fix email compose dialog layout
#emailForm[name="composeEmailForm"] td {display: revert !important;}