//Styles used for success, warning, error, and info messages
.lotusui30 .lotusMessage2, .lotusMessage, .lotusMessage.lotusMeta,
.template-homepage .alert-container {
	@include message;
}

//messages in Orient me
.template-homepage .alert-container {
	.ic-notification {
		.leftIcon {
			border-radius:$border-radius-message-icon !important;
			svg {
				height:20px !important;
				width:20px !important;
			}
		}
		background-color:transparent !important;
	}
	.close span {
		outline: 1px solid $text-01 !important;
	}
}

//messages in Blogs and Ideation Blogs
.blog .lotusMessage {
  //first line of message
	span[id$="Message"] {
		padding:16px 40px 10px 45px !important;
	}
  //second line of message
	.lotusTable{
		padding-top:4px !important;
		span {
			margin-right:0px !important;
			margin-left:2px !important;
		}
	}
	img {
		margin:10px !important;
	}
	.lotusDelete img {
			margin:10px 15px 0 0 !important;
	}
}

//Messages in Files dialogs
.lconnCompactMessage.lotusMessageContainer {
	width:auto !important;
}

// add members message
#membersmessages {
  .memberMessage {
    outline-color: transparent !important;
    border: 0px none !important;
  }
}
// remove focus outline from recent updates message
#RecentUpdates,
.lotusSuccess,
.lotusMessage2 {
  .lotusMessageBody {
		border: none !important;
	}
	.lotusMessageBody:focus {
		outline: none !important;
	}
}
.Members .lotusMessage2 {
  outline: none !important;
}

// message icons updates
.lotusIconMsgSuccess,
.iconsMessages16-msgSuccess16,
.ics-viewer-messagebox-icon.success {
  background-image: svg-url-with-replaced-fill($svg-success-msg, '#000000', $success) !important;
  background-position:0px 0px!important;
	background-repeat: no-repeat;
}
.lotusIconMsgError,
.lconnSprite-iconError16,
.iconsMessages16-msgError16,
.ics-viewer-messagebox-icon.error {
  background-image: svg-url-with-replaced-fill($svg-error-msg, '#000000', $error) !important;
  background-position:0px 0px!important;
	background-repeat: no-repeat;
}
.lotusIconMsgInfo,
.iconsMessages16-msgInfo16,
.ics-viewer-messagebox-icon.info {
  background-image: svg-url-with-replaced-fill($svg-info-msg, '#000000', $information) !important;
  background-position:0px 0px!important;
	background-repeat: no-repeat;
}
.lotusIconMsgWarning,
.lconnSprite-iconWarning16,
.iconsMessages16-msgWarning16,
.ics-viewer-messagebox-icon.warning {
  background-image: svg-url-with-replaced-fill($svg-warning-msg, '#000000', $warning) !important;
  background-position:0px 0px!important;
	background-repeat: no-repeat;
}

//Messages in org page
#partnerPageContentFF {
	.lotusContent {
		div[role="alert"] {
			width: auto !important;
			div.lotusMessage2 {
				padding: 11px 11px !important;
			}
			img {
				width: 30px;
				height: 30px;
			}
		}
	}
}

// Add activity message - issue 1973
#activitypage #displayMessageList {
	padding-top: 24px !important;
}

// Import survey message - issue 2302
.lotusDialogContent .lotusMessage img {
	margin: 12px 5px 0 0 !important;
}
